#cuadro-1 {
    height: 100vh;

}


body {
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

.graella{
    display:flex;
    justify-content: center;
}

.linia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}